<div class="container">
    <img src="background1.png" class="background-image">
    <img src="ufo.png" class="overlay-image">
    <p class="overlay-text">Toronto based game developer</p>
    <!--  -->
    <div class="block1">
        <p>my portfolio</p>
    </div>
    <!--  -->
    <div class="container-two">

        <div class="menu">
            <h2>0<br>1</h2>
            <h6>platformer</h6>
        </div>


        <div class="content">
            <img src="platformer.png" class="overlay-image2">
        </div>

        <div class="footer">
            <h3>Sprout</h3>
            <h5>programmer</h5>
            <br>
            <p>
                Made in 72 hours with only one other game developer, and featured at
                Toronto FanExpo 2024! In Sprout, players take on the role of a character
                with the unique ability to toggle between a giant and a tiny form.
                Embark on a whimsical platforming adventure as Sprout navigates
                through vibrant and challenging levels, using his size-changing powers
                to overcome obstacles!
            </p>
            <div class="example-button-row">
                <button mat-stroked-button>View game</button>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="container-three">

        <div class="menu">
            <h2>0<br>2</h2>
            <h6>Puzzle<br>adventure</h6>
        </div>
        <!--  -->
        <div class="content">
            <img src="puzzle.png" class="overlay-image2">
        </div>

        <div class="footer">
            <h3>Gravity Gone</h3>
            <h5>solo dev</h5>
            <br>
            <p>
                Using Unreal Engine's Blueprints and various free 3D art assets, I developed a
                puzzle game and simulated a gravity gun that assists players in their escape from
                an ominous, cave. The game features cinematics that provides hints and players with
                an immersive experience.
            </p>
            <div class="example-button-row">
                <button mat-stroked-button>View game</button>
            </div>
        </div>
    </div>
    <!--  -->

    <div class="container-four">

        <div class="menu">
            <h2>0<br>3</h2>
            <h6>adventure</h6>
        </div>


        <div class="content">
            <img src="halloween.png" class="overlay-image2">
        </div>

        <div class="footer">
            <h3>7 Nights of Halloween</h3>
            <h5>designer, programmer</h5>
            <br>
            <p>
                I participated in the 3 day Cozy Fall Game Jam as the Project Manager,
                Programmer, and Level Designer of 7 Nights of Halloween, an adventure
                game made with Unity. During this time, I coordinated a team of
                8 game developers to prepare a 2.5D web game.
            </p>
            <div class="example-button-row">
                <button mat-stroked-button>View game</button>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="block2">
        <a>
            view all games
        </a>
        <i class="material-icons">exit_to_app</i>
    </div>
</div>